.container {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-left: 15px;
  padding-right: 15px;

  .menu {
    display: flex;
    padding: 8px 8px 6px 8px;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 15.443px 15.443px 0px 0px;
    border-top: 1.287px solid var(--Blue, #59D2F9);
    background: #003B51;
    
    /* Drop */
    box-shadow: 0px -4px 12px 0px rgba(0, 224, 255, 0.30);

    .menu-item {
      display: flex;
      padding: 4px 6px;
      flex-direction: column;
      align-items: center;
      color: var(--White, #fff);
      font-family: Poppins;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      &.active {
        border-radius: 8px;
        background: #056380;
      }
    }
  }
}
