.friends{
    background: url("/images/home/background.png") no-repeat center center fixed;
    height: 100vh;

    .container{
        padding: 10px;
        display: inline-flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        .title{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;

            .main{
                color: var(--White, #FFF);
                text-align: center;
                font-family: Poppins;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .sub{
                color: #FFF;
                text-align: center;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .rewards{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;

            .item{
                display: flex;
                align-items: flex-start;
                gap: 4px;
                padding: 5px;

                .content{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .title{
                        color: var(--White, #FFF);
                        font-family: Poppins;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    .sub{
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        color: var(--White, #FFF);
                        font-family: Poppins;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        .number{
                            color: var(--Yellow, #FFF175);
                        }
                    }
                }
            }
        }

        .friend-list{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;

            .title{
                color: var(--White, #FFF);
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .list{
                height: 160px;
                overflow: auto;
            }
        }

        .buttons{
            display: inline-flex;
            align-items: flex-start;
            gap: 10px;

            .btn-invite{
                display: flex;
                width: 360px;
                padding: 16px 60px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 8px;
                border: 3px solid rgba(89, 210, 249, 0.50);
                background: var(--Gradient, linear-gradient(180deg, #59D2F9 -60.17%, #00A3FF 100%));
                color: #FFF;
                text-align: center;
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .btn-copy{
                display: flex;
                width: 76px;
                padding: 16px 60px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 8px;
                border: 3px solid rgba(89, 210, 249, 0.50);
                background: linear-gradient(180deg, #59D2F9 -60.17%, #00A3FF 100%);
            }
        }
    }
}