.mining {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 15px;
  width: 100%;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .username {
      display: flex;
      align-items: center;
      gap: -7.722px;
      color: #fff;
      font-family: Poppins;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      .name {
        display: flex;
        padding: 5.148px 5.148px 5.148px 5.87px;
        justify-content: center;
        align-items: center;
        gap: 6.435px;

        .bg {
          width: 85.583px;
          height: 25.739px;
          position: absolute;
          left: 41.139px;
          border-radius: 0px 7.722px 7.722px 0px;
          background: #dc68b5;
          z-index: -1;
        }
      }
    }

    .btn-exchange {
      padding: 6px;
      border-radius: 8px;
      background: #003b51;
      color: var(--White, #fff);
      font-family: Poppins;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .coin {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #fff;

    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .cat {
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 1000px;
  }
}
