.mining {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 15px;
  width: 100%;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .username {
      display: flex;
      align-items: center;
      gap: -7.722px;
      color: #fff;
      font-family: Poppins;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      .name {
        display: flex;
        padding: 5.148px 5.148px 5.148px 5.87px;
        justify-content: center;
        align-items: center;
        gap: 6.435px;

        .bg {
          width: 85.583px;
          height: 25.739px;
          position: absolute;
          left: 41.139px;
          border-radius: 0px 7.722px 7.722px 0px;
          background: #dc68b5;
          z-index: -1;
        }
      }
    }

    .btn-exchange {
      padding: 6px;
      border-radius: 8px;
      background: #003b51;
      color: var(--White, #fff);
      font-family: Poppins;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .coin {
    display: inline-flex;
    align-items: center;
    gap: 5.148px;
    color: #fff;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .top-bar {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    width: 100%;
    justify-content: space-between;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: -8px;

      .text {
        padding: 8px 8px 4px 8px;
        text-align: center;
        border-radius: 6px;
        background: var(--Highlight, #056380);
        box-shadow: 0px 0px 5.148px 0px rgba(0, 193, 255, 0.8) inset;

        color: var(--White, #fff);
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .level {
      display: flex;
      padding: 6px;
      align-items: center;
      gap: 6px;
      border-radius: 8px;
      background: var(--Highlight, #056380);
      box-shadow: 0px 0px 5.148px 0px rgba(0, 193, 255, 0.8) inset;

      .process {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;

        .text {
          display: flex;
          align-items: center;
          gap: 2.574px;
          align-self: stretch;

          color: var(--White, #fff);
          font-family: Poppins;
          font-size: 10px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }

      .btn-up {
        display: flex;
        width: 32px;
        padding: 0.965px 7.635px 3.591px 8.365px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: -0.557px;

        color: #fff;
        text-align: center;
        font-family: Poppins;
        font-size: 8px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  .cat {
    display: flex;
    width: 225px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .coming-soon {
    color: var(--Yellow, #fff175);
    text-align: center;
    text-shadow: 0px 0px 8px rgba(255, 241, 117, 0.6);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
