.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;

  .title {
    color: var(--White, #fff);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    .sub-title {
      display: flex;
      align-items: center;
      gap: 4px;
      color: var(--White, #fff);
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      .coin {
        color: var(--Yellow, #fff175);
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
      }
    }
  }

  .cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .upgrade {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
    width: 352px;

    .btn-upgrade {
      padding: 12px 60px;

      border-radius: 8px;
      border: 3px solid rgba(89, 210, 249, 0.5);
      background: linear-gradient(180deg, #59d2f9 -60.17%, #00a3ff 100%);

      color: #fff;
      text-align: center;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      &:active {
        scale: 0.8;
      }

      &:disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    .energy {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 8px;
      .text {
        color: var(--White, #fff);
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        justify-content: space-between;
      }

      .progress-bar {
        appearance: none;
        height: 12px;
        border-radius: 100px;
        width: 352px;

        /* Chrome and Safari */
        &::-webkit-progress-bar {
          background: #003b51;
          border-radius: 100px;
        }

        &::-webkit-progress-value {
          background: linear-gradient(to right, #00c2ff, #39fb6f, #00c136);
          border-top-left-radius: 100px;
          border-bottom-left-radius: 100px;
        }

        /* Firefox */
        &::-moz-progress-bar {
          background: linear-gradient(to right, #00c2ff, #39fb6f, #00c136);
          border-top-left-radius: 100px;
          border-bottom-left-radius: 100px;
        }

        &::-webkit-progress-value {
          transition: width 1s;
        }
      }
    }
  }
}
